<!DOCTYPE html>
<html lang="en">
<head>
    <title>DressYourSalad &copy; Pagar Pedidos</title>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script>
      function IngresaBoleta(id_carrito){
             boleta = document.getElementById('boleta_'+id_carrito).value;
             if(boleta == ""){
               alert("Favor ingrese una boleta");
             }
             else if(boleta <= 0){
               alert("Favor ingrese un número mayor a 0");
             }
             else{
                window.location.href="/form_ver_pedidos/"+boleta+"/"+id_carrito;
             }
      }
      </script>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
      </button>      
      {% load static %}
      
      <!-- insertar logo -->            
      <a class="navbar-brand " href="#">
        <img src="{% static 'img/logo.jpg'%}" width="60" height="60" alt="">
      </a>
      <div class="collapse navbar-collapse " id="opciones">   
        <ul class="navbar-nav">                
          <li class="nav-item " >                  
            <h3 style="text-align: center">DressYourSalad</h3>
          </li>          
         
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Gráficos</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'form_ver' %}">Mantenedor Bowl</a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="{% url 'form_buscar_pedidos' 0 %}">Mantenedor Pedidos</a>
        </li>   
        <li class="nav-item">
          <b><u><a class="nav-link" href="{% url 'form_ver_pedidos' 0 0 %}">Pendiente de Pago</a></u></b>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'form_ver_pagados'%}">Pendiente de entrega</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'form_reportevtas' 'hoy' %}">Reporte de Ventas</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
        </li>                 
        </ul>  
      </div>
        <!-- insertar botones --> 
      
  </nav>           
    <!-- fin navbar -->      
    <br><br><br><br>
    <div class="galeria">
        <h3>Pendiente de Pago</h3>
        <div class="linea"></div>
    <div class="container-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Código Pedido</th>
                <th scope="col">Boleta</th>
                <th scope="col">Fecha Pedido</th>
                <th scope="col">Cantidad Total</th> 
                <th scope="col">Precio Total</th>
                <th scope="col">Estado de Pago</th>
                
            </tr>
        </thead>
        <tbody>
            {%for pedido in pedidos%}
                <tr>
                    <td>{{pedido.0}}</td>
                    <td><input type="number" placeholder="Ingrese Boleta" value="{{pedido.1}}" name="boleta_{{pedido.0}}" id="boleta_{{pedido.0}}" size="5" maxlength="25" required></td>
                    <td>{{pedido.2}}</td>
                    <td>{{pedido.3}}</td> 
                    <td>${{pedido.4}}</td>
                    <td><input type="button" onclick="IngresaBoleta('{{pedido.0}}')" class="btn btn-primary" id="btnprueba" value="Pagar"></td>
                  </tr>
            {%endfor%}
        </tbody>        
      </table>
    
    </div>


   
      




  



    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>