<!DOCTYPE html>
<html lang="en">
<head>
    <title>DressYourSalad &copy; Entregar Pedidos</title>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
    <title>Ver</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
      </button>      
      {% load static %}
      
      <!-- insertar logo -->            
      <a class="navbar-brand " href="#">
        <img src="{% static 'img/logo.jpg'%}" width="60" height="60" alt="">
      </a>
      <div class="collapse navbar-collapse " id="opciones">   
        <ul class="navbar-nav">                
          <li class="nav-item " >                  
            <h3 style="text-align: center">DressYourSalad</h3>
          </li>          
          
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Gráficos</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'form_ver' %}">Mantenedor Bowl</a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="{% url 'form_buscar_pedidos' 0 %}">Mantenedor Pedidos</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="{% url 'form_ver_pedidos' 0 0 %}">Pendiente de Pago</a>
        </li>
        <li class="nav-item">
          <b><u><a class="nav-link" href="{% url 'form_ver_pagados'%}">Pendiente de entrega</a></u></b>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'form_reportevtas' 'hoy' %}">Reporte de Ventas</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
        </li>                 
        </ul>  
      </div>
        <!-- insertar botones --> 
      
  </nav>           
    <!-- fin navbar -->      
    <br><br><br><br>
    <div class="galeria">
        <h3>Pendiente de entrega</h3>
        <div class="linea"></div>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Código Pedido</th>
                <th scope="col">Boleta</th>
                <th scope="col">Fecha Pedido</th>
                <th scope="col">Cantidad Total</th> 
                <th scope="col">Total Pagado</th>
                <th scope="col">Estado de Pago</th>
                <th scope="col">Estado de Entrega</th>
                <th scope="col">Ver Pedido</th>
                 
            </tr>
        </thead>
        <tbody>
            {% load mathfilters %}
            {%for pedido in pedidos%}
                <tr>
                    <td>{{pedido.id_carrito}}</td>
                    <td>{{pedido.boleta}}</td>
                    <td>{{pedido.fecha_ped}}</td>
                    <td>{{pedido.cantidad}}</td> 
                    <td>${{pedido.precio}}</td>
                    <td>
                      {% if pedido.pagado %}
                        Pagado
                      {% else %}
                        No Pagado
                      {% endif %}
                    </td>
                    <td>
                      {% if pedido.entregado %}
                        <a href="{% url 'form_noentregado' pedido.id_carrito%}" class="btn btn-primary" id="btnprueba">Entregado</a>
                      {% else %}
                        <a href="{% url 'form_entregado' pedido.id_carrito%}" class="btn btn-primary" id="btnprueba">Entregar</a>
                      {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'form_buscar_pedidos' pedido.id_carrito%}" class="btn btn-primary" id="btnprueba">Ver</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>        
      </table>
    
    </div>


   
      




  



    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>