<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
    <title>DressYourSalad &copy; Paga tu Pedido!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> 
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>   <!-- link para el footer -->

</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
      </button>      
      {% load static %}
      
      <!-- insertar logo -->            
      <a class="navbar-brand " href="#">
        <img src="{% static 'img/logo.jpg'%}" width="60" height="60" alt="">
      </a>
      <div class="collapse navbar-collapse " id="opciones">   
        <ul class="navbar-nav">                
          <li class="nav-item " >                  
            <h3 style="text-align: center">DressYourSalad</h3>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Volver a Pagina principal</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'seguir_comprando' IdCarrito%}">Seguir Comprando</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>               
        </ul>  
      </div>
      {% if user_id > 0 %}
      Bienvenido: {{nombre_user}} !
      {% endif %}  
        
        
  </nav>           
    <!-- fin navbar -->      
    <br><br><br><br>
    <div class="galeria">
        <h3>Información para Pago</h3>
        <div class="linea"></div>
        <br><br>
        <div class="container">
          <table class="table">
              <thead>

                <tr>
                  <!--<th scope="col">Código pedido</th>-->
                  <th scope="col">
                    <h3>ID Pedido:&nbsp;{{IdCarrito}}</h3>
                                 
                  </th>
              </tr>
              <tr>
                <th scope="col"><h3>Total a Pagar:&nbsp;${{total.precio__sum}}</h3></th>           
              </tr>

              </thead>
                 
            </table>
        <br><br><br>
      
      
          </div>
            
       
        
    <div class="container">   
      <div class="row">       
          <div class="col-md">        
              <div class="card text-center">
                <div class="card-body">
                  <br>
                  <h4 class="card-title">Datos para transferencia bancaria</h4>
                  <br>
                  <p class="card-text parrafo">Banco de chile </p>
                  <p class="card-text parrafo">Cuenta corriente - N° 001380466505</p>
                  <p class="card-text parrafo">Rut: 14.356.876-5</p>
                  <p class="card-text parrafo">Nombre Titular de la cuenta: DressYourSalad Spa</p>
                  <p class="card-text parrafo">correo electrónico: dressyoursalad@gmail.com</p>
                  <BR>
                  <b>UNA VER REALIZADA TU TRANSFERENCIA ENVÍANOS UN CORREO DE 
                    CONFIRMACIÓN ADJUNTANDO EL NÚMERO DE PEDIDO CON TU NOMBRE Y PASA A RETIRAR AL LOCAL.</b>
                  <br><br><br><br><br><br>           
                </div>
              </div>          
          </div>
    
          <div class="col-md">        
              <div class="card text-center">
                <div class="card-body">
                  <BR><BR>
                  <img src="{% static 'img/transf.png'%}">     
                  <BR><BR><BR><BR>       
                </div>
              </div>          
          </div>
        </div>
        </div>
      </div>
        <!-- Fin quienes somos-->



        <br><br><br><br><br><br>   



        <footer class="pie-pagina">
          <div class="grupo-1">
              <div class="box">
                <br><br>
                <img src="{% static 'img/logo.jpg'%}" id="borde"     width="100px" height="100px">
              </div>
              <div class="box">
                  <h2 class="relleno">SOBRE NOSOTROS</h2>
                  
                  <p class="textojustificado">Nuestra misión es promover una cultura de la comida saludable y ofrecer a nuestros clientes un servicio de calidad.</p>
              </div>
              <div class="box">
                  <h2 class="relleno">SIGUENOS</h2>
                  <br>
                  <div class="red-social">
                      <a href="#" class="fa fa-facebook"></a>
                      <a href="#" class="fa fa-instagram"></a>
                      <a href="#" class="fa fa-twitter"></a>
                      <a href="#" class="fa fa-youtube"></a>
                      <br><br><br><br>
                      <img src="{% static 'img/nombreEmpresa.jpeg'%}"  id="nombreEmpresa">
                  </div>
              </div>
          </div>
          <div class="grupo-2">
              <small class="relleno">&copy; 2022 <b>DressYourSalad</b> -  Cristobal Jiménez - Nancy Torres - Danko Zamarin | Derechos reservados</small>
          </div>
      </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>