<!DOCTYPE html>
<html lang="en">
    <head>
      {% load static %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

      <title>DressYourSalad &copy; Arma tu Pedido!</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
      <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>   <!-- link para el footer -->


    <script>
        $(function() 
        {
          $("formulario").validate({
               rules: {                
                    bowl: "required",  
                    cantidad: "required",
                                      
                      },   
                      
                 messages: 
                  {
                    bowl:{
                        required: 'Seleccione un bowl',                      
                    },
                    cantidad: {
                      required: 'Ingresa cantidad',
                    },
                    
                                       
                  }//messages
          }); //$('#formulario').validate
      }); //function
</script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#opciones">
        <span class="navbar-toggler-icon"></span>
        </button>      
        {% load static %}
        <!-- insertar logo -->            
        <a class="navbar-brand " href="#">
          <img src="{% static 'img/logo.jpg'%}" width="60" height="60" alt="">
        </a>
        <div class="collapse navbar-collapse " id="opciones">   
          <ul class="navbar-nav">                
            <li class="nav-item " >                  
              <h3 style="text-align: center">DressYourSalad</h3>
            </li>          
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Volver a Pagina principal</a>
            </li>   
            <li class="nav-item"> 
              <a class="nav-link" href="{% url 'ver_carrito' IdCarrito %}">Mi Carrito ({{items_carrito}})</a>
            </li>                          
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
            </li>              
          </ul>  
        </div>
        {% if user_id > 0 %}
          Bienvenido: {{nombre_user}} !
          {% endif %} 
           
    </nav>      
    <br><br><br><br>
    <div class="galeria">
      <h3>Realiza tu Pedido</h3>
      <div class="linea"></div>
      <br>

    <div class="container-lg"  style="border: 0px solid yellow ;" >   
    <br>
      <div class="row"  style="border: 0px solid green ;"> 
        {%for bo in bowls2%}         
        <div class="col-md" style="width:80%;border: 0px solid gray ; position: relative;padding: 20px;"> 
          <table align="left" border="0" width="100%"> 
            <tr>
              <td><img class="card-img-top" src="static/img/{{bo.estado_stock}}" style="width: 350px;"></td>
              <td>&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td align="left" width="70%" style="text-align: left">
                <h2>
                  {% if bo.cant_Bowl == 0 %} 
                  <h4 style="color: gray;text-align: left;">
                  {% endif %}
                  {{bo.nom_Bowl}} / ${{bo.precio_Bowl}} 
                  {% if bo.cant_Bowl == 0 %} 
                   </h4>
                  {% endif %}
                </h2>
                                  <form method="POST" action="#" id="formulario">
                    {%csrf_token%}
                    <input type="hidden" id="bowl" name="bowl" value="{{bo.cod_Bowl}}">
                    <input type="hidden" id="precio" name="precio"  class="form-control" value=" {{bo.precio_Bowl}}">
                    <input type="hidden" id="id_carrito" name="id_carrito"  class="form-control" value="{{IdCarrito}}">
                    {% if bo.cant_Bowl == 0 %}       
                     <h4 style="color: gray;text-align: left;">Producto No Disponible       </h4>
                     {% else %}
                        {% if error %}
                            {% if Id_Bowl == bo.cod_Bowl%}
                            <span style="color:red;text-align: left" >Cantidad ingresada supera al stock : {{bo.cant_Bowl}}! </span>
                            {% endif %}
                        {% endif %}
                        {% if error2 %}
                            {% if Id_Bowl == bo.cod_Bowl%}
                            <span style="color:red;text-align: left">Cantidad ingresada debe ser mayor a 0!</span>     
                            {% endif %}
                        {% endif %}
                     <br> <input type="number" placeholder="Ingrese Cantidad" name="cantidad" id="cantidad" size="5" maxlength="25" required>
                      <br><input type="submit" class="btn btn-danger" id="btnprueba" value="Agregar al Carrito">
                    {% endif %}
                    <br>Stock Disponible: {{bo.cant_Bowl}}
                    <br>Receta: {{bo.descripcion_Bowl}}
                  </form> 
              </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
          </table>
          <br>
          </div> 
            {%endfor%}                
      </div>
    </div>
          
    

 </div>

 <!-- footer -->    

 <footer class="pie-pagina">
  <div class="grupo-1">
      
      <div class="box">
          <h2 class="relleno">SOBRE NOSOTROS</h2>
          <p class="textojustificado">Nuestra misión es promover una cultura de la comida saludable y ofrecer a nuestros clientes un servicio de calidad.</p>
      </div>
      <div class="box">
        <h2 class="relleno">HORARIO DE ATENCIÓN</h2>
        <p class="textojustificado">Lunes a viernes 12:00 - 18:00 hrs</p>
        <p class="textojustificado">Sábados 12:00 - 15:00 hrs</p>
    </div>
      <div class="box">
          <h2 class="relleno">SIGUENOS</h2>
          <br>
          <div class="red-social">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
              
          </div>
      </div>
  </div>
  
</footer>
 
 
      
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
      
</body>
</html>